<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/stylesheets/landing.css">
</head>
<body>



<div class="nav__bar">
    <a href="#" class="nav__trigger">
        <div class="bars"></div>
    </a>        
</div>

<main class="main">
    <section class="hero">
        <div class="hero__content">
            <img src="/images/dmitry.jpg" alt="photo" class="hero__image">
            <h1 class="hero__heading">Unity Development<br><span style="opacity: .5;">&& Full-Stack Development</span></h1>
            <h4 class="hero__subheading">By: <a href="http://github.com/DmitryShavliugin/PetProjects" target="_blank">Dmitry Shavliugin</a></h4>
        </div>
    </section>
    
    <section class="content">
        <article class="article">
            <a href class="article__title">About Me</a>
            
            <time class="article__time">APRIL 27, 2020</time>
            
            <p class="article__content">
                An energetic and imaginative young web
                developer who is able to work alongside other
                talented IT professionals.
            </p>
        </article>
        
        <article class="article">
            <a href class="article__title">Achievements</a>
            
            <time class="article__time">APRIL 27, 2020</time>
            
            <p class="article__content">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed expedita dolore tenetur architecto, suscipit corporis, totam laudantium incidunt, soluta enim quae pariatur explicabo officiis natus eos saepe mollitia unde sapiente qui ut facilis necessitatibus dolor dicta veniam? Odit, enim fuga.
            </p>
        </article>
        
        <article class="article">
            <a href="#" class="article__title">Skills</a>
            
            <!-- <time class="article__time">APRIL 27, 2020</time> -->
            
            <p class="article__content">
                <span class="skills">HTML5</span> <span class="skills">CSS3</span> <span class="skills">JavaScript</span> <span class="skills">Bootstrap</span> 
                <span class="skills">DOM Manipulation</span> <br> <span class="skills">jQuery</span> <span class="skills">NodeJS</span> <span class="skills">NPM</span>
                <span class="skills">Git</span> <span class="skills">C#</span> <span class="skills">MS SQL</span>
            </p>
        </article>

        <article class="article">
            <a href="#" class="article__title">Personal Projects</a>
            
            <time class="article__time">APRIL 27, 2020</time>
            
            <p class="article__content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex libero est consectetur. Veniam non ipsam ex, debitis fuga quam a voluptatum, at temporibus quas ipsa!
            </p>
        </article>
           
    </section>
</main>

<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item"><a href="#">About Me</a></li>
        <li class="nav__item"><a href="#">Achievements</a></li>
        <li class="nav__item"><a href="#">Skills</a></li>
        <li class="nav__item"><a href="#">Personal Projects</a></li>
    </ul>
</nav>


<script src="https://cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/iamdustan-smoothscroll/0.4.0/smoothscroll.js"></script>
<script src="/script/script.js"></script>

<% include partials/footer %>